
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">01</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="10"><p><a>她在八年前和富坚慎二结婚。当时，靖子在赤坂当酒女，他是来捧场的客人之一。
</a></p><p><a>负责销售进口车的富坚出手阔绰，不但送她昂贵礼物，还带她上高级餐厅。所以当他开口求婚时，她觉得自己简直就像电影“麻雀变凤凰”中的朱丽叶罗伯茨。靖子的第一段婚姻失败了，对于一边工作一边抚养女儿的生活正感到疲惫。
</a></p><p><a>刚结婚时很幸福。富坚的收入很稳定，所以靖子不用在陪酒。他也很疼爱美里，美里似乎也努力把他当父亲看待。
</a></p><p><a>但悲剧骤然降临。富坚长年挪用公款东窗事发，遭到公司开除。而公司之所以没控告他，是因为那些上司害怕上面追究管理责任，遂巧妙地掩饰事态。说穿了很简单，富坚在赤坂挥霍的，全是他贪污来的钱。
</a></p><p><a>从此，富坚就性情大变，不、或许该说露出本性，不是游手好闲饱食终日，就是出去赌博。要是抱怨他两句，他还会动粗打人。酒也越喝越多，总是醉得颠三倒四，目露凶光。
</a></p><p><a>因此靖子不得不再次上班，但她赚来的钱，都被富坚抢走了。她学会把钱藏起来后，他甚至在发薪日抢先一步去她店里，擅自领走她的薪水。
</a></p><p><a>美里变得很怕这个继父，不肯在家跟他独处，甚至宁愿跑去靖子上班的酒廊待着。
</a></p><p><a>靖子向富坚提出离婚，但他充耳不闻。如果她契而不舍的再三要求，他就会再次动粗。她在苦恼多日后，找了一个客人介绍的律师商量。在那位律师的奔走下，富坚终于勉强在离婚协议书上盖了章。看来他似乎也明白，如果打起官司自己不仅毫无胜算，恐怕还得付出一笔赡养费。
</a></p><p><a>但问题并未就此解决。离婚后富坚仍不时出现在靖子母女面前。每次的说辞都一样：他保证今后会洗心革面努力工作，拜托靖子跟他复合。靖子如果躲着他，他就接近美里，还曾在学校外面守候。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="9">&lt;</a></span>
                        <span class="cur font-ms">010</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="11">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
