
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">13</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="202"><p><a>“据刚才妈妈桑的说法，随后靖子就打了电话给她。而且明明没什么大事，还特地在答录机留言叫她回电。妈妈桑打过去时已过了一点，然后又聊了三十分钟左右。”
</a></p><p><a>“那有什么不对吗？”
</a></p><p><a>“那时——我问她不在场证明时，靖子为什么没提到这件事呢？”
</a></p><p><a>“为什么……应该是觉得没必要吧。”
</a></p><p><a>“为什么？”草薙伫足，转身面对刑警学弟，“用自家电话和第三者说过话，这可以证明她在家喔。”
</a></p><p><a>岸谷也停下脚，嘟起嘴，说道：“是没错，可是从花冈靖子的角度来看，只要说出外出地点，应该已经足够了。如果草薙先生进一步追问回家后的事，我想她应该会说出打电话的事。”
</a></p><p><a>“真的只是这个的理由吗？”
</a></p><p><a>“不然还能有什么理由？如果是隐瞒自己缺少不在场证明那还有话说，现在她可没提自己有不在场证明喔。前辈追究这点未免太奇怪了。”
</a></p><p><a>草薙将目光从一脸不满的岸谷身上转开，径自迈步走出。这个刑警学弟，打从一开始就同情花冈母女，向他征求客观意见或许本来就错了。
</a></p><p><a>今天白天和汤川的那番对话，又在草薙的脑中复苏。那个物理学者坚称，如果命案和石神有关那就决不可能是计划性杀人。
</a></p><p><a>“如果是他策划的，他不会用电影院当作不在场证明。”汤川首先举出这点，“因为正如你们所怀疑的，去看电影的这种供述太没说服力了。石神不可能没想到这一点。此外，还有个更大的疑问：石神没理由协助花冈靖子杀害富坚。就算她被富坚苦苦折磨，以他的个性应该也会另谋解决之道，绝不会选择杀人这种方法。”
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="201">&lt;</a></span>
                        <span class="cur font-ms">202</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="203">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
