
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">14</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="209"><p><a>不悦的面孔比比皆是，也有些人的表情已超载不悦带着痛苦了。至于比痛苦更严重的人，则是一脸举手投降的自弃模样。而森冈，打从考试开始就看也不看考卷，迳自托腮望着窗外。今天是个大晴天，连城镇的遥远彼方都是蔚蓝晴空。也许他正在懊恼，要不是被这种无聊的考试剥夺时间，早就可以尽情地四处飙车了。
</a></p><p><a>学校已开始放春假，不过部分学生还得面对令人忧愁的考试。由于连期末考后的补考也有太多人不及格，只好临时决定给学生补习。石神教的班级必须接受补习的，正好三十人，这个数学和其他科目比起来多得异常。而补习结束后，还得再考一次，今天就是再次补考的日子。
</a></p><p><a>设计考卷时，教务主任特地叮嘱石神，千万别出太难的题目。
</a></p><p><a>“其实我也不想这样说，不过老实说补考只是个形式，只是为了不要让学生带着红字升级。我想石神老师你也不想再这么麻烦吧。大家老早就在抱怨石神老师的考题难了，二次补考时就拜托您，让所有的人都能一举及格。”
</a></p><p><a>对石神而言，他觉得自己出的考题并不难，甚至可以说简单了。考题并没有超出课堂上教授的范围，只要了解基本原则，应该立刻就能解答。只不过，要稍微换个角度着眼。这种变化方式，和参考书或考题集锦常见的题目不太一样，学生若是只有死背解法顺序自然无所适从。
</a></p><p><a>不过这次他遵照了教务主任的指示，从现成的考题集锦，选出最具代表性的题目照抄不误，只要普通做了练习应该都解得出来。
</a></p><p><a>森冈打了一个打哈欠，看着时钟。石神朝他一看，当下四目相对。本以为森冈会觉得尴尬，没想到他夸张地皱起眉头，双手比出一个大叉，好像想说：我其实不会作答。
</a></p><p><a>石神看他这样，朝他咧嘴一笑。森冈看了露出有点惊讶的表情，然后同样也咧嘴一笑，又开始望着窗外。
</a></p><p><a>微积分这玩意到底能派上什么用场嘛——石神想起森冈以前问的这个问题。虽然当时他用摩托车赛举例，解释过必要性，不过难保森冈听懂了几分。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="208">&lt;</a></span>
                        <span class="cur font-ms">209</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="210">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
