
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">14</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="213"><p><a>“你是指在荒川发现尸体的那个案子吗？”
</a></p><p><a>“不是荒川，是旧江户川。”草薙立刻加以纠正，“之前，我曾请教过您花冈小姐那晚有没有什么异样。”
</a></p><p><a>“我记得。我应该是回答你，没什么特别的吧。”
</a></p><p><a>“您说的没错，不过针对这点能否请您再仔细回想一下。”
</a></p><p><a>“这是什么意思？我是真的一无所知，所以要我回想也无从想起。”石神的嘴角微露笑意。
</a></p><p><a>“不，我的意思是，您没有特别意识到的事说不定其实具有重大意义。如果您能尽可能地详细描述那晚的情形，我会感激不尽，您不用考虑和案子有无关联。”
</a></p><p><a>“喔……这样啊。”石神摸着自己的脖子。
</a></p><p><a>“事发至今已有一段日子，我知道不容易。所以为了帮助您回想，我特地借来了这个东西。”草薙拿出来的，是石神的出勤表和任教班级的课程表，还有学校的行事历。大概是向事务员借的。
</a></p><p><a>“看了这个，我想也许会比较容易回想……”刑警堆出殷勤的笑容。
</a></p><p><a>一看到那个，石神当下察觉刑警的目的。虽然草薙言辞含糊，不过他想知道的，显然不是花冈靖子而是石神的不在场证明。警方的矛头为何会指向自己？他实在想不出具体根据。不过，有一点令他耿耿于怀，那就是汤川学的行动。
</a></p><p><a>总之既然刑警的目的是要调查不在场证明，那他就得好好应付。石神换个姿势坐好，挺直腰杆。
</a></p><p><a>“那晚柔道社练习完后我就回家了，所以应该是七点左右回去的，我记得上次也是这么说的。”
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="212">&lt;</a></span>
                        <span class="cur font-ms">213</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="214">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
