
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">02</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="27"><p><a>“花冈小姐，你在听吗？”
</a></p><p><a>“啊。我在听。”
</a></p><p><a>“我可以过去你那边吗？”
</a></p><p><a>“啊？可是……”话筒依旧贴在耳上的靖子看着女儿，美里正带着满脸的畏惧与不安。大概是难以理解，母亲到底在和谁谈些什么。
</a></p><p><a>倘若石神真的在隔壁竖着耳朵偷听，那他必然也知道美里涉及这起命案。如果他把这件事告诉警方，那么就算靖子再怎么否认，想必刑警也不会相信。
</a></p><p><a>靖子下定决心。
</a></p><p><a>“我知道了。我也有事想拜托您，那，就请您来一下好吗？”
</a></p><p><a>“好，我现在马上过去。”石神说。
</a></p><p><a>靖子挂断电话的同时，美里立刻开口问：“谁打来的？”
</a></p><p><a>“隔壁的老师。石神先生。”
</a></p><p><a>“那个人怎么会……”
</a></p><p><a>“这个待会再解释，你先去房间待着，门也要拉上。快点。”
</a></p><p><a>美里一脸莫名其妙地走进里屋。几乎就在她拉上纸门的同时，也传来石神走出隔壁房间的动静。
</a></p><p><a>门铃终于响起了，靖子走下门口脱鞋处，打开门锁和门链。
</a></p><p><a>门一开，只见石神肃然而立。不知为何穿着深蓝色运动服，刚才他并非这般打扮。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="26">&lt;</a></span>
                        <span class="cur font-ms">027</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="28">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
