
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">17</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="273"><p><a>“看得到，不过那又怎样？”
</a></p><p><a>“命案刚发生时我来见石神，当时我们俩也这样望过映在玻璃上的身影。不过当时我本来完全没注意到，是被石神一说才看到的。在那之前，我压根没想过他可能和命案有关，能和睽违已久的劲敌重逢，我甚至有点乐昏了头。”
</a></p><p><a>“你是说，你看到映在玻璃上的影子，所以才开始怀疑他？”
</a></p><p><a>“当时他还这样说：你看起来永远都这么年轻，跟我差了十万八千里。你的头发也还很茂密——说着还做出有点在意自己头发的小动作。这点让我大吃一惊，因为石神这个人，本来是个绝对不会在意外貌的男人。他从以前就坚持，一个人的价值不应该靠这种东西衡量，他绝对不会选择必须受外貌左右的人生。现在他居然对外貌耿耿于怀。他的头发的确稀薄，但他居然为了这种事到如今早已无可奈何的事情哀叹。所以我才察觉，他正处于不得不在意外表与容貌的状况——也就是恋爱了。不过话说回来，为什么他会在这种地方，贸然说出那种话？是突然在意起外表了吗？”
</a></p><p><a>草薙察觉汤川的言外之意，他接着说： “因为他马上就要见到心上人了，是吗？”
</a></p><p><a>汤川点点头。
</a></p><p><a>“我也这么想。我怀疑那个在便当店上班的女子、公寓的邻居、前夫遇害的女人，可能就是他的意中人。不过这样就会出现一个很大的疑问。那就是他对命案的态度。照理说，他应该很在意，但他表现得就像是个旁观者。我想，怀疑他在恋爱或许真是我自己想太多了，于是我又去找石神，和他一起去便当店。因为我想，从他的态度或许能看出什么端倪，结果出来了一个意料之外的人物，是花冈靖子的男性友人。”
</a></p><p><a>“那是工藤。”草薙说，“他正在和靖子交往。”
</a></p><p><a>“好像是。石神看到那个工藤和她交谈时的表情……”汤川皱起眉，摇摇头，“看到那个表情我才确信，石神爱上的人就是她，因为他的脸上浮现嫉妒。”
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="272">&lt;</a></span>
                        <span class="cur font-ms">273</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="274">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
