
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">18</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="282"><p><a>“要告诉你这件事，我实在很为难。”事实上，他也的确痛苦地表情扭曲。“因为石神绝对不会希望我这样做。不管发生了什么事，他一定希望至少不让你发现真相。这不是为了他，而是为了你。你如果了解真相，你将会终生背负比现在更大的痛苦，但即使如此我还是不得不告诉你。因为我觉得如果不让你明白他有多爱你、是怎么把全部的人生都赌下去，那他未免牺牲得太不值了。虽然这不是他的本意，但看到你这样一无所知，我实在无法忍受。”
</a></p><p><a>靖子感到心跳剧烈，喘不过气，几乎随时都会昏倒。汤川想说什么，她毫无头绪。但从他的语气，她已察觉那个答案必然超乎想像。
</a></p><p><a>“到底是怎么回事？如果有话要说，就请你快点说。”她的措辞虽然强悍，声音却虚弱得颤抖。
</a></p><p><a>“那起命案……旧江户川杀人命案的真凶，”汤川做个深呼吸，“就是他。是石神没错。不是你，也不是令媛，是石神杀的。他并非冒名顶罪，他才是真凶。”
</a></p><p><a>眼看靖子听不懂这段话，呆坐当场，汤川又加上一句“不过……”
</a></p><p><a>“不过那具尸体并不是你的前夫富坚慎二。虽然看起来像是，其实是另一个人。”
</a></p><p><a>靖子无法理解汤川的意思，但当她凝视他那双在眼镜后面悲伤眨动的眼睛时，她突然完全明白了。她用力吸了一口气，用手捂着嘴。因为太过惊讶，令她差点惊声尖叫。她全身的血液沸腾，紧接着却又全身发凉失去血色。
</a></p><p><a>“看来你终于懂我的意思了。”汤川说，“没错，石神为了保护你，犯下另一起杀人案，那是在三月十日，真的富坚慎二遇害的隔天。”
</a></p><p><a>靖子几乎晕厥，连坐都快坐不住了，手脚发冷，全身起鸡皮疙瘩。
</a></p><p><a>看花冈靖子的模样，八成是从汤川那里听到了真相，草薙推测。就连站在远处都看得出，她的脸色发白。这也难怪，草薙想，听到那样的真相，没有人会不震惊，更何况她还是当事者。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="281">&lt;</a></span>
                        <span class="cur font-ms">282</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="283">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
