
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">18</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="286"><p><a>“对石神来说最重要的，就是让警方正确查出犯案时间。就结果来说，解剖或许能做出较正确的推定，但他最怕的就是尸体如果发现得晚，会拉长犯案时间的推定范围。弄得不好，万一拉长到前一天晚上——也就是九日晚上，对他们来说将会极为不利，因为那晚才是花冈母女杀害富坚的日子，她们没有不在场证明。为了预防这点，他希望至少能有脚踏车是在十日之后失窃的证据。于是重点就在那辆脚踏车了，必须是不太可能放上一整天的脚踏车，而是一旦被偷车主可能确定失窃日期的脚踏车，如此一来目标就指向新买的脚踏车。”
</a></p><p><a>“原来那辆脚踏车还隐含了那么多钟意义。”草薙用拳头往自己额上一敲。
</a></p><p><a>“脚踏车被发现时，据说两个轮胎都被戳破了，对吧？这也是石神才会想到的顾虑，大概是为了防止被谁骑走。可以说他为了替花冈母女制造不在场证明，真处心积虑。”
</a></p><p><a>“可是她们的不在场证明并没有那么明确。到现在都没找到决定性的证据，足以证明他们当时的确在电影院。”
</a></p><p><a>“但是，你们也没找到不在电影院的证明吧？”汤川指着草薙。“看似脆弱却又无法推翻的不在场证明，这才是石神设计的陷阱。如果准备的是无懈可击的不在场证明，那警方反而会怀疑中间可能动了什么手脚。在这个过程中，说不定会开始疑心死者不是富坚慎二，石神怕的就是这个。被杀的是富坚慎二，可疑的是花冈靖子，他故意制造出这种构图，好让警方无法排除这个刻板概念。”
</a></p><p><a>草薙沉吟。汤川说的没错。查明死者疑似富坚慎二后，他们立刻将怀疑的矛头指向花冈靖子。因为她坚持的不在场证明，令人半信半疑，警方一直怀疑她。但是怀疑她，也就等于深信死者就是富坚。
</a></p><p><a>真是可怕的男人，草薙低语。我也有同感，汤川说。
</a></p><p><a>“我之所以察觉这个可怕的障眼法，还是你给我的灵感。”
</a></p><p><a>“我？”
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="285">&lt;</a></span>
                        <span class="cur font-ms">286</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="287">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
