
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">19</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="131">Chapter 09
</a></li><li><a href="148">Chapter 10
</a></li><li><a href="163">Chapter 11
</a></li><li><a href="177">Chapter 12
</a></li><li><a href="194">Chapter 13
</a></li><li><a href="211">Chapter 14
</a></li><li><a href="228">Chapter 15
</a></li><li><a href="247">Chapter 16
</a></li><li><a href="263">Chapter 17
</a></li><li><a href="279">Chapter 18
</a></li><li><a href="295">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="330"><p><a>既已到了这个地步，或许至少应该照石神的心愿，只考虑母女俩怎么抓住幸福就好。诚如他所写的，如果在这时退缩了，他的辛苦将会付诸流水。
</a></p><p><a>隐藏真相很痛苦。就算怀着秘密抓住了幸福，想必也不会有真正的幸福感受。肯定会终生抱着自负的念头，没有片刻能得到安宁。不过靖子觉得，忍受这种痛苦，好歹也算是一种赎罪。
</a></p><p><a>她试着将戒指套在无名指，钻石好美，要是能心中毫无阴霾地投入工藤怀抱不知该有多幸福。但那是个无法实现的幻梦，自己的心永无放晴之日。心如明镜不带丝毫阴霾的，毋宁该是石神。
</a></p><p><a>把戒指放回盒中时，靖子的手机响了。她看着液晶萤幕的来电显示，是个不认识的号码。
</a></p><p><a>“喂？”她回答。
</a></p><p><a>“喂？请问是花冈美里同学的妈妈吗？”是个没听过的男人声音。
</a></p><p><a>“对，我就是。”她有种不详的预感。
</a></p><p><a>“我是森下南中学的坂野，突然打电话来不好意思。”
</a></p><p><a>是美里念的国中。
</a></p><p><a>“请问，美里出了什么事吗？”
</a></p><p><a>“老实说，刚才我们在体育馆后面发现美里倒卧在地下不省人事。她是那个……呃……看样子，好像是拿刀子还是什么割腕。”
</a></p><p><a>“啊？……”靖子心脏突然乱跳，几乎要窒息了。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="329">&lt;</a></span>
                        <span class="cur font-ms">330</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">309</span>
                        <span class="next font-lg"><a href="309">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
