
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">19</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="131">Chapter 09
</a></li><li><a href="148">Chapter 10
</a></li><li><a href="163">Chapter 11
</a></li><li><a href="177">Chapter 12
</a></li><li><a href="194">Chapter 13
</a></li><li><a href="211">Chapter 14
</a></li><li><a href="228">Chapter 15
</a></li><li><a href="247">Chapter 16
</a></li><li><a href="263">Chapter 17
</a></li><li><a href="279">Chapter 18
</a></li><li><a href="295">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="331"><p><a>“因为出血严重，我们立刻把她送往医院。不过没有生命危险，请您放心。只是有可能是自杀未遂，所以我想应该先让您知道……”
</a></p><p><a>对方说的后半截，几乎完全没传进靖子耳中。
</a></p><p><a>眼前的墙上有无数污渍。他从其中选出几个适当的斑点，在脑中以直线联结那些点。画出来的图形，等于三角形和四角形、六角形的组合，接着再涂上四种颜色加以区分，相邻的区块不能同色。当然一切都是在他的脑中进行。
</a></p><p><a>石神在一分钟之内就完成了这个课题，一旦破解了脑中的图形，就再选择其他斑点进行同样的步骤。虽然单纯，但就算做了又做也不厌倦。如果做腻了这个四色问题，接着只要利用墙上的斑点，做解析问题就行了。光是计算墙上所有斑点的坐标，恐怕就得花上不少时间。
</a></p><p><a>身体受到束缚根本不算什么，他想。只要有笔和纸，就能做数学题。万一手脚被绑，在脑中做同样的事也就是了。纵使什么都看不见，什么都听不到，也没人能把手伸到他脑子里。那里对他来说就是无垠乐园，沉睡着数学这个矿脉。要把这些矿藏统统挖出来，一生的时间未免太短。
</a></p><p><a>他再次感到，自己并不需得到任何人的肯定。他的确有发表论文、受人评价的欲望，但那并非数学的本质。是谁第一个爬上那座山固然重要，但只要当事人自己明白那件事情的意义就够了。
</a></p><p><a>不过石神也是费了不少时间，才到达现在的境地。就算不久之前，他差点就失去了活着的意义。当时他甚至觉得，只擅长数学的自己，如果不能在那领域有所进展，就等于没有存在的价值了。每天他的脑子里只有死这个念头，反正自己死了也不会有人伤心、困扰，不仅如此，他甚至怀疑有谁会发现他的死。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="330">&lt;</a></span>
                        <span class="cur font-ms">331</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">309</span>
                        <span class="next font-lg"><a href="309">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
