
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">19</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="131">Chapter 09
</a></li><li><a href="148">Chapter 10
</a></li><li><a href="163">Chapter 11
</a></li><li><a href="177">Chapter 12
</a></li><li><a href="194">Chapter 13
</a></li><li><a href="211">Chapter 14
</a></li><li><a href="228">Chapter 15
</a></li><li><a href="247">Chapter 16
</a></li><li><a href="263">Chapter 17
</a></li><li><a href="279">Chapter 18
</a></li><li><a href="295">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="333"><p><a>星期天最幸福，只要打开窗子，就能听到两个人说话的声音。虽然听不清楚内容，但随风传来的隐约话声，对石神来说就是至高仙乐。
</a></p><p><a>他压根没有想和她们发生关联的欲望，他认为她们是自己不该碰触的对象。同时他也发觉数学也是如此，对于崇高的东西，光是能沾到边就够幸福了。妄想博得名声，只会有损尊严。
</a></p><p><a>帮助那对母女，对石神来说是理所当然的事情。要是没有她们，就没有现在的自己。他并不是顶罪，而是报恩，她们想必毫无所觉。这样最好。有时候，一个人只要好好活着，就足以拯救某人。
</a></p><p><a>看到富坚的尸体时，石神的脑中已拟好一个计划了。
</a></p><p><a>要完美地弃尸很困难，就算做得再怎么巧妙，也无法将身分曝光的几率降到零。况且就算运气好真的瞒住了，花冈母女也无法安心。她们将会成天活在不知哪时会东窗事发的恐怖中，他实在不忍心让她们受那种苦。
</a></p><p><a>让靖子母女安心的方法只有一个，只要把案子和她们完全切割开来就行了。只要移到乍看之下好像相连、其实绝不相交的直线上就行了。
</a></p><p><a>于是，他决心利用“技师”。
</a></p><p><a>“技师”,就是那个刚在新大桥旁过起游民生活的男人。
</a></p><p><a>三月十日清晨，石神走近“技师”。“技师”就像平时一样，坐在离其他游民有段距离的地方。
</a></p><p><a>石神主动提议，要委托一桩差事。他说有个河川工程需要几天的监工，他先前就已察觉“技师”以前做过建筑方面的工作。
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="332">&lt;</a></span>
                        <span class="cur font-ms">333</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">309</span>
                        <span class="next font-lg"><a href="309">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
