
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">19</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="20">Chapter 02
</a></li><li><a href="45">Chapter 03
</a></li><li><a href="55">Chapter 04
</a></li><li><a href="73">Chapter 05
</a></li><li><a href="91">Chapter 06
</a></li><li><a href="109">Chapter 07
</a></li><li><a href="124">Chapter 08
</a></li><li><a href="149">Chapter 09
</a></li><li><a href="168">Chapter 10
</a></li><li><a href="185">Chapter 11
</a></li><li><a href="200">Chapter 12
</a></li><li><a href="218">Chapter 13
</a></li><li><a href="236">Chapter 14
</a></li><li><a href="256">Chapter 15
</a></li><li><a href="276">Chapter 16
</a></li><li><a href="294">Chapter 17
</a></li><li><a href="311">Chapter 18
</a></li><li><a href="330">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
            	<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="339"><p><a>他没有置之不理，是因为不想给任何人添麻烦。门外的某人，说不定是有什么急事才来找他。
</a></p><p><a>开门一看，门外站着两名女子，好像是母女。
</a></p><p><a>看似母亲的女人自我介绍说是刚搬来隔壁，女儿也在一旁鞠躬。看到两个人，石神的身体仿佛被某种东西贯穿。
</a></p><p><a>怎么会有眼睛这么美的母女？他想。在那之前，他从未被什么东西的美丽吸引、感动过，也从不了解艺术的意义。然而这一瞬间，他全都懂了。他发觉那和解开数学题的美感在本质上是相同的。
</a></p><p><a>石神早已记不清她们是怎么打招呼了，但两人凝视他的明眸如何流转、眨动，却至今仍清晰烙印在记忆中。
</a></p><p><a>邂逅花冈母女后，从此石神的生活为之一变。自杀的念头烟消云散，重获生命的喜悦。他光是想象母女俩正在哪做什么就觉得开心，世界这个坐标上，有靖子和美里这两个点，他觉得那宛如奇迹。
</a></p><p><a>星期天最幸福，只要打开窗子，就能听到两个人说话的声音。虽然听不清楚内容，但随风传来的隐约话声，对石神来说就是至高仙乐。
</a></p><p><a>他压根没有想和她们发生关联的欲望，他认为她们是自己不该碰触的对象。同时他也发觉数学也是如此，对于崇高的东西，光是能沾到边就够幸福了。妄想博得名声，只会有损尊严。
</a></p><p><a>帮助那对母女，对石神来说是理所当然的事情。要是没有她们，就没有现在的自己。他并不是顶罪，而是报恩，她们想必毫无所觉。这样最好。有时候，一个人只要好好活着，就足以拯救某人。
</a></p></div>
                <div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="338">&lt;</a></span>
                        <span class="cur font-ms">339</span>
                        <span class="font-ms">/</span>
                        <span class="total font-ms">345</span>
                        <span class="next font-lg"><a href="340">&gt;</a></span>
                    </div>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
</body>
</html>
