
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">16</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="24">Chapter 02
</a></li><li><a href="54">Chapter 03
</a></li><li><a href="67">Chapter 04
</a></li><li><a href="89">Chapter 05
</a></li><li><a href="112">Chapter 06
</a></li><li><a href="134">Chapter 07
</a></li><li><a href="152">Chapter 08
</a></li><li><a href="183">Chapter 09
</a></li><li><a href="206">Chapter 10
</a></li><li><a href="226">Chapter 11
</a></li><li><a href="245">Chapter 12
</a></li><li><a href="267">Chapter 13
</a></li><li><a href="289">Chapter 14
</a></li><li><a href="314">Chapter 15
</a></li><li><a href="338">Chapter 16
</a></li><li><a href="360">Chapter 17
</a></li><li><a href="381">Chapter 18
</a></li><li><a href="404">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
            	<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="346"><p style="text-indent:2em"><a>“如果在条崎下车，万一和那家伙碰个正着不就糟了。”石神爽快地回答。“我下计程车的地方，离我告诉他的地点还很远。总之一定要小心的，在达成目的之前，绝对不能让那家伙发现。”
</a></p><p style="text-indent:2em"><a>“下了计程车之后呢？”
</a></p><p style="text-indent:2em"><a>“我一边堤防着别人的耳目，一边朝那家伙即将现身的地点走去。不过其实也不用特别小心，路上根本没半个人影。”石神说着又喝了一口茶。“我到达堤防没多久，手机就响了，是他打来的。他说已经到了纸上抄的地点，可是怎么找都找不到那栋公寓。我问他现在在哪里，那家伙回答得可仔细了。我一边跟他讲电话，一边还得小心不让他察觉我正逐渐接近。我说我要再确认一下住址请等一下后就把电话挂了，其实那是我已确定那家伙的位置了。他正懒洋洋地坐在堤防边的草坪里。我蹑手蹑脚地缓缓走近他，那家伙完全没发觉。等他发现时，我就站在他的正后方。可惜那时，我已经把电线套在他脖子上了。那家伙虽然拼命抵抗，但我用力一勒，他立刻就没气了，简单得很。”石神垂眼看着茶杯，杯子空了。“可以再给我一杯吗？”
</a></p><p style="text-indent:2em"><a>岸谷站起来，拿茶壶替他倒茶。谢谢，石神点头致谢。
</a></p><p style="text-indent:2em"><a>“被害者身材魁梧，才四十几岁。如果他拼命抵抗，我觉得应该没那么容易勒死吧？”草薙试探着说。
</a></p><p style="text-indent:2em"><a>“我是柔道社的顾问。如果从后面偷袭，就算对方身体比较高大，也能轻易制服。”
</a></p></div>
                <div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="345">&lt;</a></span>
                        <span class="cur font-ms">346</span>
                        <span class="font-ms">/</span>
                        <span class="total font-ms">423</span>
                        <span class="next font-lg"><a href="347">&gt;</a></span>
                    </div>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
</body>
</html>
