
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">16</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="24">Chapter 02
</a></li><li><a href="54">Chapter 03
</a></li><li><a href="67">Chapter 04
</a></li><li><a href="89">Chapter 05
</a></li><li><a href="112">Chapter 06
</a></li><li><a href="134">Chapter 07
</a></li><li><a href="152">Chapter 08
</a></li><li><a href="183">Chapter 09
</a></li><li><a href="206">Chapter 10
</a></li><li><a href="226">Chapter 11
</a></li><li><a href="245">Chapter 12
</a></li><li><a href="267">Chapter 13
</a></li><li><a href="289">Chapter 14
</a></li><li><a href="314">Chapter 15
</a></li><li><a href="338">Chapter 16
</a></li><li><a href="360">Chapter 17
</a></li><li><a href="381">Chapter 18
</a></li><li><a href="404">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
            	<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="351"><p style="text-indent:2em"><a>“那最好，这样比较确实。”石神用充满自信的口吻说完，猛然缩回下颚。
</a></p><p style="text-indent:2em"><a>“刚才的叙述今后还会请您说上很多次，接下来也会制成正式的自白书。”
</a></p><p style="text-indent:2em"><a>“好，叫我说几遍都行，这也无可奈何。”
</a></p><p style="text-indent:2em"><a>“最后我想再请教一下。”草薙的手指在桌上交握。“您为何来自首？”
</a></p><p style="text-indent:2em"><a>石神用力倒吸了一口气。
</a></p><p style="text-indent:2em"><a>“不自首比较好吗？”
</a></p><p style="text-indent:2em"><a>“我没有这样说。既然会来自首，总有个理由或是起因吧？我想知道。”
</a></p><p style="text-indent:2em"><a>石神听了嗤之以鼻地说道：“那应该和你的工作无关吧？凶手在自责之下主动投案这不就好了吗？这需要什么其他理由吗？”
</a></p><p style="text-indent:2em"><a>“看您这样，不像是自责之下才来投案的。”
</a></p><p style="text-indent:2em"><a>“如果问我是否有罪恶感，我不得不说，那跟罪恶感的确有点不同，不过我很后悔。早知道就不做那种事了，要是早知道会被那样子背叛，我才不会杀什么人。”
</a></p></div>
                <div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="350">&lt;</a></span>
                        <span class="cur font-ms">351</span>
                        <span class="font-ms">/</span>
                        <span class="total font-ms">423</span>
                        <span class="next font-lg"><a href="352">&gt;</a></span>
                    </div>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
</body>
</html>
