
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">17</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="24">Chapter 02
</a></li><li><a href="54">Chapter 03
</a></li><li><a href="67">Chapter 04
</a></li><li><a href="89">Chapter 05
</a></li><li><a href="112">Chapter 06
</a></li><li><a href="134">Chapter 07
</a></li><li><a href="152">Chapter 08
</a></li><li><a href="183">Chapter 09
</a></li><li><a href="206">Chapter 10
</a></li><li><a href="226">Chapter 11
</a></li><li><a href="245">Chapter 12
</a></li><li><a href="267">Chapter 13
</a></li><li><a href="289">Chapter 14
</a></li><li><a href="314">Chapter 15
</a></li><li><a href="338">Chapter 16
</a></li><li><a href="360">Chapter 17
</a></li><li><a href="381">Chapter 18
</a></li><li><a href="404">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
            	<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="376"><p style="text-indent:2em"><a>“拜托，你就别再吊我胃口了，你一定知道什么吧？请你告诉我。石神不是真凶吧？既然如此，你不觉得让他顶罪太没天理了吗？你总不希望昔日老友沦为杀人犯吧？”
</a></p><p style="text-indent:2em"><a>“你把头抬起来。”
</a></p><p style="text-indent:2em"><a>被汤川这么一说，草薙抬眼看他，不禁赫然一惊。眼前那张物理学家的脸孔正痛苦地扭曲着，他抬手按着额头，紧紧闭着双眼。
</a></p><p style="text-indent:2em"><a>“我当然也不希望他变成什么杀人犯，可是已经毫无办法了。连我都不知道怎么会变成这样……”
</a></p><p style="text-indent:2em"><a>“喂，你干嘛这么痛苦。为什么不肯坦白告诉我，我们是朋友啊。”
</a></p><p style="text-indent:2em"><a>汤川一听倏然睁眼，一脸严肃地说：“你是我的朋友，但同时也是刑警。”
</a></p><p style="text-indent:2em"><a>草薙哑口无言。他第一次觉得和这个多年好友之间，有一道隔阂。正因为身为刑警，以至于眼看好友露出前所未有的苦恼表情，却连那个原因都问不出来。
</a></p><p style="text-indent:2em"><a>“我现在要去找花冈靖子。”汤川说，“你要一起来吗？”
</a></p><p style="text-indent:2em"><a>“我可以去吗？”
</a></p></div>
                <div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="375">&lt;</a></span>
                        <span class="cur font-ms">376</span>
                        <span class="font-ms">/</span>
                        <span class="total font-ms">423</span>
                        <span class="next font-lg"><a href="377">&gt;</a></span>
                    </div>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
</body>
</html>
