
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">18</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="24">Chapter 02
</a></li><li><a href="54">Chapter 03
</a></li><li><a href="67">Chapter 04
</a></li><li><a href="89">Chapter 05
</a></li><li><a href="112">Chapter 06
</a></li><li><a href="134">Chapter 07
</a></li><li><a href="152">Chapter 08
</a></li><li><a href="183">Chapter 09
</a></li><li><a href="206">Chapter 10
</a></li><li><a href="226">Chapter 11
</a></li><li><a href="245">Chapter 12
</a></li><li><a href="267">Chapter 13
</a></li><li><a href="289">Chapter 14
</a></li><li><a href="314">Chapter 15
</a></li><li><a href="338">Chapter 16
</a></li><li><a href="360">Chapter 17
</a></li><li><a href="381">Chapter 18
</a></li><li><a href="404">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
            	<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="387"><p style="text-indent:2em"><a>“我们是大学时的死党。”汤川说着露出一口白牙，“所以他和石神等于也是同学。不过他们两个，在发生这次的事件前好像一次也没见过。”
</a></p><p style="text-indent:2em"><a>原来如此，靖子恍然大悟。之前她一直想不透，这个副教授为何会因为这桩命案来找石神。
</a></p><p style="text-indent:2em"><a>虽然石神什么也没透露，但靖子之前就在怀疑，他的计划之所以会露馅，八成和这个汤川插手有关。和刑警是同一所大学的校友，而且还拥有共同的友人，这点想必在他的计算之外吧。
</a></p><p style="text-indent:2em"><a>不过话说回来，此人竟然打算说什么——？
</a></p><p style="text-indent:2em"><a>“我对石神自首一事感到很遗憾。”汤川一开口就直捣核心，“一想到像他那么有才华的人，今后只能在监狱里运用那个金脑袋，身为一个研究者我实在很不甘心，太遗憾了。”
</a></p><p style="text-indent:2em"><a>靖子听了不发一语，放在膝上的双手用力交握。
</a></p><p style="text-indent:2em"><a>“不过，我还是无法相信他会做出那种事。我是说对你。”
</a></p><p style="text-indent:2em"><a>靖子感到汤川转身面对她，顿时浑身僵硬。
</a></p><p style="text-indent:2em"><a>“我实在无法想象，他会对你做出那种卑劣行为。不，‘无法相信’这个说法还不够适切，应该说我压根就不相信。他……石神在说谎。他为何要说谎？既然背上杀人犯的污名，照理说就算再撒谎也毫无意义，但他却说了谎。理由只有一个。那就是这个谎，并非为他自己而说，他是为了某人隐瞒真相。”
</a></p></div>
                <div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="386">&lt;</a></span>
                        <span class="cur font-ms">387</span>
                        <span class="font-ms">/</span>
                        <span class="total font-ms">423</span>
                        <span class="next font-lg"><a href="388">&gt;</a></span>
                    </div>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
</body>
</html>
