
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">18</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="24">Chapter 02
</a></li><li><a href="54">Chapter 03
</a></li><li><a href="67">Chapter 04
</a></li><li><a href="89">Chapter 05
</a></li><li><a href="112">Chapter 06
</a></li><li><a href="134">Chapter 07
</a></li><li><a href="152">Chapter 08
</a></li><li><a href="183">Chapter 09
</a></li><li><a href="206">Chapter 10
</a></li><li><a href="226">Chapter 11
</a></li><li><a href="245">Chapter 12
</a></li><li><a href="267">Chapter 13
</a></li><li><a href="289">Chapter 14
</a></li><li><a href="314">Chapter 15
</a></li><li><a href="338">Chapter 16
</a></li><li><a href="360">Chapter 17
</a></li><li><a href="381">Chapter 18
</a></li><li><a href="404">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
            	<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="389"><p style="text-indent:2em"><a>“对，没错，我们根本没说谎，那又怎样？”
</a></p><p style="text-indent:2em"><a>“但你心里应该也在奇怪，为什么你们用不着说谎，为何警方的追查这么松懈？因为他……我是说石神，早已安排好让你们面对刑警的质问时，只要说实话就行了。无论警方怎么步步进逼，他都已安排好让警方无法将你定罪。至于他到底是怎么安排的，我想你大概不知道。你只晓得石神好像用了什么巧妙的障眼法，却不清楚实际内容。我说的对吗？”
</a></p><p style="text-indent:2em"><a>“您在说什么，我一点也听不懂。”靖子对他一笑，但是连她自己也知道脸颊在抽搐。
</a></p><p style="text-indent:2em"><a>“他为了保护你们母女做了极大的牺牲，那是你我这种普通人连想都想像不到的壮烈牺牲。我想他大概打从命案一发生，就已做好最坏的打算，决定到时要替你们顶罪了，因为他的所有计划都是以那个为前提设计出来的。反过来说，唯有那个前提绝对不能瓦解。但那个前提实在太残酷，任谁都会退缩，这点石神自己也知道。所以，为了让自己在紧要关头无法反悔，他事先断了自己的退路。同时，那也正是这次最惊人的障眼法。”
</a></p><p style="text-indent:2em"><a>汤川的话令靖子开始混乱，因为她完全无法理解他在说什么。然而，却又有一种卫击非比寻常的预感。
</a></p><p style="text-indent:2em"><a>此人说的没错，靖子完全不知道石神设计了什么障眼法。同时，她也的确感到奇怪，为何刑警对自己的攻击没有想像中激烈。老实说她甚至觉得刑警们的再三盘问，根本找错了方向。
</a></p></div>
                <div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="388">&lt;</a></span>
                        <span class="cur font-ms">389</span>
                        <span class="font-ms">/</span>
                        <span class="total font-ms">423</span>
                        <span class="next font-lg"><a href="390">&gt;</a></span>
                    </div>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
</body>
</html>
