
<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>EBook</title>
    
    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome-ie7.min.css">
    <link href="../static/css/index.css" rel="stylesheet" />
    
    <!-- lib js files -->
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.ui.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.fileupload.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../static/js/lib/math.json2.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.jstorage.js"></script>
    
    <script type="text/javascript" src="../static/js/common.tools.js"></script>
    <script type="text/javascript" src="../static/js/webSDK.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div id="loading" tabindex="-1" unselectable="on" style="z-index: 99999999; display: none;">
        <div class="loading-mask" tabindex="-1" unselectable="on"></div>
        <div class="loading-state" style="">
            <div class="loading-text">正在生成中，请稍等</div>
        </div>
    </div>
    <span class="page-num">05</span>
	<div class="print">
    	<img class="fa fa-arrow-circle-down" src="../static/img/down.png">
    </div>
	<div class="catalog">
    	<div class="header">Content</div>
        <ul><li><a href="1">Chapter 01
</a></li><li><a href="18">Chapter 02
</a></li><li><a href="40">Chapter 03
</a></li><li><a href="49">Chapter 04
</a></li><li><a href="65">Chapter 05
</a></li><li><a href="80">Chapter 06
</a></li><li><a href="95">Chapter 07
</a></li><li><a href="108">Chapter 08
</a></li><li><a href="130">Chapter 09
</a></li><li><a href="147">Chapter 10
</a></li><li><a href="162">Chapter 11
</a></li><li><a href="176">Chapter 12
</a></li><li><a href="192">Chapter 13
</a></li><li><a href="208">Chapter 14
</a></li><li><a href="225">Chapter 15
</a></li><li><a href="243">Chapter 16
</a></li><li><a href="260">Chapter 17
</a></li><li><a href="275">Chapter 18
</a></li><li><a href="291">Chapter 19
</a></li></ul>
        <div class="jump-box">
            <input class="jump-control" type="text" />
            <span class="btn jump">跳转</span>
        </div>
    </div>
	<div class="container">
	<div class="catalog-content"></div>
		<div class="left">
            <div class="content-box">
            	<div class="input-panel input-left">
                    <div class="input-group">
                        <input class="form-control" placeholder="/发送弹幕" type="text" />
                        <input id="leftPicView" style="display:none" type="file" name="image" />
                        <img class="fa fa-image pic-select" src="../static/img/img.png" />
                        <!--span class="btn send">发送</span-->
						<img class="send" src="../static/img/send.png">
                    </div>
                    <div class="image-group">
                        <img id="leftImgView" src="" />
                        <img id="leftImgFakeView" src="" />
                        <div id="leftImgLoading" class="loading">正在加载中...</div>
                    </div>
                </div>
				<div class="label"></div>
            	<div class="content" data-max-seq="0" data-page="67"><p><a>“拜托你，千万别那样喊我。更何况，我并不是喜欢帮忙办案，只是看不下去此人毫无逻辑的思考方式，所以忍不住插嘴。你和这种人一起行动，小心也会被传染大脑硬化症。”
</a></p><p><a>岸谷忍不住扑哧一笑，挨了草薙一个大白眼。
</a></p><p><a>“你笑得太过分了。说是这样说，你自己还不是解谜解的很高兴。”
</a></p><p><a>“有什么好高兴的，托你的福害我的论文毫无进展。你今天该不会又带着什么麻烦的问题来烦我吧？”
</a></p><p><a>“你不用担心，我今天没这个意思，只是正好经过附近顺便来看看。”
</a></p><p><a>“那我就安心了。”
</a></p><p><a>汤川走近流里台，将水壶装满水，放在瓦斯炉上，好像又打算要喝那种即溶咖啡。
</a></p><p><a>“对了，旧江户川发现尸体的案子解决了吗？”汤川一边往杯中放咖啡粉一边问起。
</a></p><p><a>“你怎么知道我们负责侦办那个案子？”
</a></p><p><a>“只要稍微想一下就知道了。你被叫走那天的晚上，电视新闻就报道了。看你闷闷不乐的表情，调查工作显然没什么进展吧？”
</a></p><p><a>草薙皱起眉头，抓抓鼻翼。
</a></p><p><a>“哎，也不算完全没进展，已经锁定了几个嫌疑犯，会渐入佳境的。”
</a></p><p><a>“噢？嫌疑犯啊。”汤川似乎没什么兴趣，只是随便听听。
</a></p><p><a>于是岸谷也从旁插嘴，“我认为，现在的方向并不正确。”
</a></p></div>
            </div>
        </div>
    	<div class="right">
        	<div class="input-panel input-right">
                <div class="input-group">
                    <input class="form-control" placeholder="/发送弹幕" type="text" />
                    <!--<input id="picPreview" style="display:none" type="file" name="image" />
                    <i class="fa fa-image pic-select"></i>-->
                    <img class="send" src="../static/img/send.png">
                </div>
                <div class="image-group">
                    <img id="imagePreview" src="" />
                    <div id="imageLoading" class="loading">正在加载中...</div>
                </div>
            </div>
            <div class="comment-box">
			<!--div class="label"></div-->
        		<div class="comment">
                </div>
            </div>
            <div class="flip">
                <img class="fa fa-chevron-up up" src="../static/img/before.png"/>
                <img class="fa fa-chevron-down down" src="../static/img/after.png"/>
            </div>
        </div>
	</div>
	<div class="footer">
                	<div class="page">
                    	<span class="pre font-lg"><a href="66">&lt;</a></span>
                        <span class="cur font-ms">067</span>
                        <span class="fuck font-ms">/</span>
                        <span class="total font-ms">304</span>
                        <span class="next font-lg"><a href="68">&gt;</a></span>
                    </div>
    </div>
	<!--div style="background-color: #ffffff; width:10px; height:10px; position: absolute; bottom:0px; right:0px"></div-->
</body>

</html>
